{% extends 'base.html' %}
{% block content %}
<div class="flex items-center pt-3 pl-3">
  <a href="/admin/dashboard" class="text-sm py-2 px-4 border border-emerald-700 rounded-lg text-emerald-700 flex gap-1 hover:bg-emerald-700 hover:text-white">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
    </svg>
    Back
  </a>
</div>

<div class="bg-white border mx-3 mt-2 rounded-lg">
  
  <h2 class="text-emerald-800 text-md flex items-center gap-1 m-3">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
    </svg>
    Activity
  </h2>
  
  <div class="bg-white rounded-lg mx-3 mb-2 flex justify-between gap-2 flex-row-reverse">
    <button class="px-2 bg-red-600 rounded-lg text-red-100 hover:bg-red-800 disabled:bg-red-100 disabled:text-red-200">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
        </svg>
    </button>
    <select id='subject' class="w-full p-2 text-sm bg-white border rounded-md truncate">
      <option value="hahaa">21st Century</option>
    </select>
  </div>
  
  <div class="p-3 pt-1">
    <div class="overflow-x-auto rounded-md border-x" style="scrollbar-color: #1e8c07 #31f20961">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-green-300">
          <tr class="bg-gray-200">
            <th scope="col" class="pl-6 py-3">
              <input type="checkbox" class="accent-emerald-600">
            </th>
            <th scope="col" class="px-6 py-3">Task</th>
            <th scope="col" class="px-6 py-3">Date</th>
          </tr>
        </thead>
        <tbody id='table-body'>
          {% for activity in data %}
          <tr id="activity-{{ activity.id }}" class="bg-white border-b border-gray-200 hover:bg-gray-100">
            <td class="pl-6 py-4">
              <input type="checkbox" class="accent-emerald-600" value="activity-{{ activity.id }}">
            </td>
            <td class="px-6 py-4">{{ activity.task }}</td>
            <td class="px-6 py-4">{{ activity.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div data-label='pagination' class="border-t p-2 md:flex md:justify-center">
    <div class="flex justify-between md:gap-20">
      <button class="p-2 rounded-lg border">Click Me</button>
      <button class="p-2 rounded-lg border">Click Me</button>
    </div>
  </div>
  
</div>
{% endblock %}
{% block jss %}
<script>
let abracadabra = [];

function display(page){
  let tbody = "";
  abracadabra[page].forEach(ele => {
    tbody += tableTR(ele);
  })
  $('#table-body').innerHTML = tbody
}

/*
TODO: nextPage, prevPage function for pagination
*/

$('#subject').onchange = async function(){
  const data = await activityData(this.value);
  const chunkData = parseChunk(data);
  abracadabra = chunkData
  // Set parsed data to vatiable
  // Display by Page 1
}

function parseChunk(arr) { 
  let result = [];
  for (let i = 0; i < arr.length; i += 2) {
    result.push(arr.slice(i, i + 2));
  }
  return result;
}

async function activityData(subject_id){
  try{
    const respo = await fetch(`/admin/api/data/activities?subject_id=${subject_id}`);
    const data = await respo.json()
    if (data?.status === 'success') return data.data;
    if (data?.status === 'error') {console.log(data.message);}
    return [];
  }catch(err){
    console.error("ERROR: ", err.message)
  }
}

function tableTR({ task, data, id }){
  return `<tr id="activity-${id}" class="bg-white border-b border-gray-200 hover:bg-gray-100">
    <td class="pl-6 py-4">
      <input type="checkbox" class="accent-emerald-600" value="activity-${id}">
    </td>
    <td class="px-6 py-4">${task}</td>
    <td class="px-6 py-4">${date}</td>
  </tr>`;
}
</script>
{% endblock %}