<header class="bg-emerald-700 p-2 flex justify-between items-center shadow-lg">
  <p class="text-xl text-green-300" style="font-family: 'Sans'">Activity Management</p>
  <a href="/auth/logout"><button class="bg-red-600 hover:bg-red-700 text-red-200 py-2 px-3 rounded-full text-xs flex gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
    </svg>
    Sign Out
  </button></a>
</header>